[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
adafruit-circuitpython-lis3dh = "*"
adafruit-circuitpython-pn532 = "*"
pyserial = "*"
adafruit-blinka = "*"
pyalsaaudio = "*"
config = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
